html {
    background: url(https://telegra.ph/file/918273a8e97047f96eeb9.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
