html {
    background: url(https://telegra.ph/file/28292a80c37b3b3bc4b1d.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
